@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fc .fc-button-primary{
    background-color:#f97316
}

.fc:hover .fc-button-primary:hover {
    background-color: #ea580c;
}

.fc-button-active{
    background-color:#f97316
} */